/*---- colors ----*/
/*---- end ----*/
*, *:before, *:after {
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
  color: inherit;
  outline: none;
  border: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0; }

body {
  background: #191919;
  width: 100%;
  min-height: 100vh;
  height: 100%; }

.cards {
  display: flex; }
  .cards #firstCard {
    width: 300px;
    background-color: #ff2300;
    padding: 15px;
    margin: 20px; }
    .cards #firstCard .borderTop {
      border: 2px solid white;
      width: 100%; }
    .cards #firstCard .header {
      display: flex;
      justify-content: space-between; }
      .cards #firstCard .header p {
        color: white;
        font-size: 1.4em;
        font-weight: bold;
        margin: 5px 0; }
    .cards #firstCard .picture {
      background-image: url(../../images/firstCardPix.png);
      height: 226px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      box-shadow: 0 0 15px 5px #ff2300 inset;
      border-radius: 10px; }
    .cards #firstCard .info {
      display: flex;
      background: url(../../images/arsenalLogo.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0 0 15px 5px #ff2300 inset; }
      .cards #firstCard .info .left {
        transform: rotate(270deg);
        transform-origin: left top 0;
        margin-top: 219px;
        color: #eecd00;
        font-weight: bold;
        font-size: 30px;
        position: absolute;
        letter-spacing: 2px; }
        .cards #firstCard .info .left i {
          color: white; }
      .cards #firstCard .info .detailsFirstCard {
        color: white;
        flex-grow: 2;
        margin-left: 36px; }
        .cards #firstCard .info .detailsFirstCard .line {
          display: flex;
          justify-content: space-between;
          padding: 6px 0; }
          .cards #firstCard .info .detailsFirstCard .line:last-child {
            color: #eecd00;
            display: block; }
        .cards #firstCard .info .detailsFirstCard .detailsBorder {
          border: 1px solid white;
          width: 100%; }
    .cards #firstCard .cardBottom {
      height: 20px;
      width: 100%; }
  .cards .secondCard {
    width: 740px;
    background-color: white;
    margin: 20px;
    display: flex; }
    .cards .secondCard .leftSide {
      background: url(../../images/ronaldo.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 47%;
      height: 500px;
      margin: 1%;
      margin-right: 2%;
      position: relative;
      overflow: hidden; }
      .cards .secondCard .leftSide .circle {
        width: 1000px;
        height: 1000px;
        border-radius: 43%;
        background: repeating-linear-gradient(-30deg, #e9eece, #72786d 10%, #e9eece 18%);
        position: absolute;
        /* padding-right: 50px; */
        left: -933px;
        top: -243px;
        box-shadow: 9px 0px 30px black; }
      .cards .secondCard .leftSide .text {
        color: #ede44e;
        font-size: 20px;
        line-height: 0.7;
        font-weight: bold;
        padding-top: 20px;
        padding-left: 8px;
        text-shadow: 2px 2px black;
        position: absolute; }
        .cards .secondCard .leftSide .text p {
          padding-left: 8px; }
        .cards .secondCard .leftSide .text .below {
          color: #f0f4e9;
          text-shadow: 1px 1px black;
          transform: rotate(270deg);
          transform-origin: left top 0;
          margin-top: 400px;
          font-size: 35px;
          text-align: center;
          position: absolute;
          width: 400px; }
          .cards .secondCard .leftSide .text .below b {
            color: #cd5930;
            font-size: 20px; }
      .cards .secondCard .leftSide .logo {
        background: url(../../images/madridLogo.png);
        height: 40px;
        width: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 8px; }
      .cards .secondCard .leftSide .ball {
        background: linear-gradient(45deg, #25701f 40%, #da3e03 55%);
        height: 30px;
        width: 30px;
        position: absolute;
        right: 20px;
        top: 30px;
        border-radius: 100%;
        box-shadow: 2px 2px 2px black; }
    .cards .secondCard .rightSide {
      background: linear-gradient(#f25900 26%, #bed000, #fff 80%);
      width: 47%;
      margin: 1%;
      margin-left: 2%;
      position: relative;
      overflow: hidden;
      border-left: 1px solid #9e8d77; }
      .cards .secondCard .rightSide .circle {
        width: 1400px;
        height: 1400px;
        border-radius: 50%;
        background: repeating-linear-gradient(-30deg, #e9eece, #72786d 10%, #e9eece 18%);
        position: absolute;
        /* padding-right: 50px; */
        left: 307px;
        top: -450px;
        box-shadow: -5px 0px 12px black; }
      .cards .secondCard .rightSide .rightText {
        color: #f0f4e9;
        text-shadow: 1px 1px black;
        transform: rotate(90deg);
        transform-origin: left top 0;
        margin-top: 231px;
        font-size: 25px;
        right: -40px;
        position: absolute;
        z-index: 1;
        font-weight: bold; }
      .cards .secondCard .rightSide .face {
        background: url(../../images/ronaldoFace.png);
        height: 235px;
        width: 235px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 20px;
        box-shadow: 0 0 15px 5px #f55b00 inset; }
      .cards .secondCard .rightSide .info {
        text-align: center;
        margin: 0 30px; }
        .cards .secondCard .rightSide .info .header {
          color: #e8ebbd;
          font-size: 18px;
          text-shadow: 2px 1px black;
          font-weight: bold; }
        .cards .secondCard .rightSide .info .details {
          font-size: 14px; }
          .cards .secondCard .rightSide .info .details p {
            font-size: 12px; }
        .cards .secondCard .rightSide .info .sticker {
          background-color: #cabd43;
          width: 43px;
          font-size: 10px;
          margin: 0 auto;
          margin-top: 5px;
          font-weight: bold;
          border: 0.5px solid black;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
          .cards .secondCard .rightSide .info .sticker .top {
            color: #91451e; }
          .cards .secondCard .rightSide .info .sticker .bottom {
            color: #475e35;
            font-style: italic; }
        .cards .secondCard .rightSide .info .border {
          width: 100%;
          height: 2px;
          background: linear-gradient(to right, rgba(255, 0, 0, 0), #f55b00, rgba(255, 0, 0, 0));
          margin: 2px 0; }
      .cards .secondCard .rightSide .ball {
        background: linear-gradient(45deg, #25701f 40%, #da3e03 55%);
        height: 30px;
        width: 30px;
        position: absolute;
        left: 5%;
        bottom: 24%;
        border-radius: 100%;
        box-shadow: 2px 2px 2px black; }
      .cards .secondCard .rightSide .number {
        background-color: #f9df00;
        height: 30px;
        width: 30px;
        position: absolute;
        left: 8%;
        top: 8%;
        border-radius: 100%;
        text-align: center;
        font-size: 27px;
        font-weight: bold; }
      .cards .secondCard .rightSide .rotatedText {
        color: #f0f4e9;
        text-shadow: 1px 1px black;
        transform: rotate(270deg);
        transform-origin: left top 0;
        margin-top: 250px;
        font-size: 10px;
        margin-left: 23px;
        position: absolute; }
  .cards .thirdCard {
    width: 300px;
    background-color: #dfd8dd;
    margin: 20px 10px;
    border: 6px solid #cfc8cb; }
    .cards .thirdCard .top {
      background-color: black;
      width: 90%;
      margin: 5%;
      height: 93px;
      padding-top: 9px;
      border: 6px solid #b0a5ab;
      overflow: hidden; }
      .cards .thirdCard .top .content {
        background-color: white;
        width: 94%;
        height: 58px;
        margin: 0 auto;
        border: 1px solid #493a23;
        padding: 7px;
        position: relative; }
        .cards .thirdCard .top .content .gma {
          position: absolute;
          top: -6px;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          text-align: center;
          color: #493a23;
          z-index: 1;
          font-size: 13px;
          font-weight: bold; }
        .cards .thirdCard .top .content .backgroundLogo {
          background: url(../../images/basketball.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 50px;
          width: 50px;
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          opacity: 0.3; }
        .cards .thirdCard .top .content .circleThirdCard {
          position: absolute;
          height: 100px;
          width: 100px;
          background-color: black;
          border-radius: 50%;
          top: -127px;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          text-align: center;
          border: 1px solid #493a23; }
        .cards .thirdCard .top .content .text {
          font-weight: bold;
          font-size: 11px;
          justify-content: space-between;
          display: flex;
          padding-top: 5px; }
          .cards .thirdCard .top .content .text .left {
            margin: auto 0; }
          .cards .thirdCard .top .content .text .right {
            text-align: center;
            margin: auto 0; }
        .cards .thirdCard .top .content .bottomText {
          color: #615238;
          font-size: 8px;
          float: right;
          margin-top: 10px;
          font-weight: bold; }
    .cards .thirdCard .bottom {
      background-color: #e6e5e2;
      border: 6px solid #beb3b9;
      width: 90%;
      margin: 5%; }
      .cards .thirdCard .bottom .photo {
        background: url(../../images/jordan.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 358px;
        width: 94%;
        margin: 0 auto;
        margin-top: 3%;
        margin-bottom: 3%;
        border-top: 3px solid #90232d;
        position: relative; }
        .cards .thirdCard .bottom .photo .borderLeft {
          border-left: 3px solid #90232d;
          position: absolute;
          bottom: 4%;
          top: 0; }
        .cards .thirdCard .bottom .photo .borderRight {
          border-left: 3px solid #90232d;
          position: absolute;
          bottom: 4%;
          top: 0;
          right: 0; }
        .cards .thirdCard .bottom .photo .draftPick {
          position: absolute;
          bottom: 30px;
          left: 0;
          right: 0;
          text-align: center;
          color: #d7d0d5;
          opacity: 0.5;
          line-height: 1.5; }
          .cards .thirdCard .bottom .photo .draftPick .gmaHeader {
            font-size: 65px;
            text-shadow: 0px 2px #d7d0d5;
            line-height: 0.9; }
          .cards .thirdCard .bottom .photo .draftPick .middle {
            font-size: 20px;
            display: flex;
            justify-content: center; }
            .cards .thirdCard .bottom .photo .draftPick .middle .char1 {
              transform: translateX(0px) translateY(8px) rotate(-26deg); }
            .cards .thirdCard .bottom .photo .draftPick .middle .char2 {
              transform: translateX(0px) translateY(4px) rotate(-17deg); }
            .cards .thirdCard .bottom .photo .draftPick .middle .char3 {
              transform: translateX(0px) translateY(0px) rotate(-11deg); }
            .cards .thirdCard .bottom .photo .draftPick .middle .char4 {
              transform: translateX(0px) translateY(-2px) rotate(-12deg); }
            .cards .thirdCard .bottom .photo .draftPick .middle .char5 {
              transform: translateX(0px) translateY(-3px) rotate(-4deg); }
            .cards .thirdCard .bottom .photo .draftPick .middle .char6 {
              transform: translateX(3px) translateY(-3px) rotate(0deg); }
            .cards .thirdCard .bottom .photo .draftPick .middle .char7 {
              transform: translateX(3px) translateY(-3px) rotate(5deg); }
            .cards .thirdCard .bottom .photo .draftPick .middle .char8 {
              transform: translateX(4px) translateY(-1px) rotate(3deg); }
            .cards .thirdCard .bottom .photo .draftPick .middle .char9 {
              transform: translateX(4px) translateY(1px) rotate(14deg); }
            .cards .thirdCard .bottom .photo .draftPick .middle .char10 {
              transform: translateX(5px) translateY(6px) rotate(22deg); }
          .cards .thirdCard .bottom .photo .draftPick .jordanBottom {
            font-size: 10px;
            letter-spacing: 4px; }
        .cards .thirdCard .bottom .photo .jordan {
          position: absolute;
          bottom: 3px;
          left: 0;
          right: 0;
          text-align: center;
          background: #661111;
          padding: 2px;
          margin: 0 48px;
          border-radius: 10%;
          color: #b3b3b3;
          border: 1px solid #b3b3b3; }
        .cards .thirdCard .bottom .photo .nbaLogo {
          background: url(../../images/nba.png);
          height: 80px;
          width: 30px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          bottom: -5px;
          left: 5px; }
        .cards .thirdCard .bottom .photo .bullsLogo {
          height: 45px;
          width: 45px;
          background-color: #851c1b;
          border-radius: 50%;
          position: absolute;
          bottom: 0;
          right: 0;
          border: 2px solid #b3b3b3; }
          .cards .thirdCard .bottom .photo .bullsLogo img {
            height: 45px;
            width: 45px; }
      .cards .thirdCard .bottom .photo:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 12px;
        height: 1px;
        width: 100%;
        border-bottom: 3px solid #90232d; }

@media screen and (min-width: 960px) and (max-width: 1280px) {
  .cards .secondCard .rightSide .face {
    height: 200px;
    width: 200px; }
  .cards .secondCard .rightSide .circle {
    left: 280px; } }
@media screen and (min-width: 640px) and (max-width: 959px) {
  .cards {
    flex-direction: column; }
    .cards .secondCard .rightSide .face {
      height: 232px;
      width: 232px; } }
@media screen and (min-width: 0) and (max-width: 639px) {
  .cards {
    flex-direction: column; }
    .cards .secondCard .rightSide .face {
      height: 200px;
      width: 200px; }
    .cards .secondCard .rightSide .ball {
      bottom: 30%; } }

/*# sourceMappingURL=style.css.map */
